{{#partial "contenido"}}

<script type="text/javascript" src="/js/dispositivosUsuario.js"></script>
 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">


            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>	
			      <th scope="col">Tipo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Descripcion</th>
			      <th scope="col">Fecha de Alta</th>
			      <th scope="col">Modificar</th>
			      <th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{{#each dispositivos}}

				    <tr>
				      <td>{{id}}</td>
				      {{#if detalle.esInteligente}}
				      	<td>Inteligente</td>
				      {{else}}
					      {{#if esAdaptado}}
					      	<td>Adaptado</td>
					      {{else}}
						  	<td>Estandar</td>
	  					  {{/if}}
  					  {{/if}}
				      <td>{{detalle.nombre}}</td>
				      <td>{{detalle.descripcion}}</td>
				      <td>{{fecha_alta_s}}</td>
				      <td><button type="button" class="btn btn-primary" onclick="modificar('{{id}}',true)">Modificar</button></td>
				      <td><button type="button" class="btn btn-danger" onclick="pedidoBorrar('{{id}}')">Borrar</button></td>
				    </tr>

				{{/each}}

			  </tbody>
			</table>


        </div>
    </main>


{{/partial}}

{{>layoutCliente.hbs}}


