{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">


            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Activa</th>		
			      <th scope="col">Actuadores</th>
			      <th scope="col">Dispositivos</th>
			      <th scope="col">Modificar</th>
			      <th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{{#each reglas}}

				    <tr>
				      <td>{{id}}</td>
				      <td>{{nombreRegla}}</td>
				      {{#if activado}}
				      	<td>Si</td>
				      {{else}}
					  	<td>No</td>
					  {{/if}}
					  <td>
					  	{{#each actuadores_string}}
					  		{{nombre}} ,
					  	{{/each}}
					  </td>
					  <td>
				  		{{#each dispositivos}}
					  		{{detalle.nombre}} {{detalle.descripcion}} ,
					  	{{/each}}
					  </td>
				      <td><button type="button" class="btn btn-primary" onclick="modificar('{{id}}',true)">Modificar</button></td>
				      <td><button type="button" class="btn btn-danger" onclick="pedidoBorrar('{{id}}')">Borrar</button></td>
				    </tr>

				{{/each}}

			  </tbody>
			</table>


        </div>
    </main>
<script type="text/javascript" src="/js/reglas.js"></script>

{{/partial}}

{{>layoutCliente.hbs}}


