{{#partial "contenido"}}

 <!--Main Layout-->
    <main>
         <div class="container mt-5 pt-5">


            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Activa</th>		
			      <th scope="col">Tipo</th>
			      <th scope="col">Nombre</th>
			      <th scope="col"></th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	{{#each reglas}}

				    <tr>
				      <td>{{id}}</td>
				      <!--{{#if detalle.esInteligente}}
				      	<td>Estandar</td>
				      {{else}}
					  	<td>Inteligente</td>
  					  {{/if}}-->
  					  <td>{{activado}}</td>
  					  <td></td>
				      <td>{{nombreRegla}}</td>
				      <td><button type="button" class="btn btn-primary" onclick="modificar('{{id}}',true)">Modificar</button></td>
				      <td><button type="button" class="btn btn-danger" onclick="pedidoBorrar('{{id}}')">Borrar</button></td>
				    </tr>

				{{/each}}

			  </tbody>
			</table>


        </div>
    </main>
<script type="text/javascript" src="/js/reglas.js"></script>

{{/partial}}

{{>layoutCliente.hbs}}


